header{
	padding:40px 0px;
	background: white;
}
header h1{
	font:45px/56px '微软雅黑','黑体',sans-serif;
	width:1100px;
	margin:0 auto;
}
header h4{
	width: 1100px;
	margin:0 auto;
	color: rgb(153,153,153);
	font:19px/20px '新宋体','宋体',serif;
}

footer{
	line-height: 65px;
	color: white;
	text-align: center;
	font-size: 17px;
	font-family: '微软雅黑','黑体',sans-serif;
}