nav ul li{
	float: left;
} 
nav ul {
	width:1100px;
	margin:0 auto;
}
nav ul li a{
	display:block;
	color:white;
	font:17px/60px '新宋体','宋体',serif;
	padding:0 20px;
}

nav ul li a:hover{
	background: #3f3f3f;
}